<br> <span class="header">{{title}}</span>
<div #outerDiv class="outer-div-landscape">
    <mat-card #card *ngFor="let card of cards">
        <mat-card-title>{{ (card.name.length>16)? (card.name.substring(0, 16).trim())+'...':(card.name) }}</mat-card-title>
        <mat-card-content>
            <img class="card-img" [src]="card.image" [alt]="'Image of ' + card.name">
            <div class="details-div">
                <mat-list>
                    <mat-list-item>ID:</mat-list-item>
                    <mat-list-item>Price:</mat-list-item>
                </mat-list>
                <mat-list>
                    <mat-list-item>{{card.id}}</mat-list-item>
                    <mat-list-item>${{card.price}}</mat-list-item>
                </mat-list>
            </div>
        </mat-card-content>
    </mat-card>
</div>
