<br> <span class="header">{{title}}</span>
<div #outerDiv class="outer-div-landscape">
  <a class="removeStyle card-landscape" *ngFor="let card of cards" (click)="handleClick(card.id)">
    <mat-card #card>
      <mat-card-title>
        {{ (card.name.length > maxCardTitleLength)? (card.name.substring(0, maxCardTitleLength).trim())+'...':(card.name) }}
      </mat-card-title>
      <mat-card-content>
        <img class="card-img" [src]="card.image" [alt]="'Image of ' + card.name">
        <div class="details-div">
          <mat-list>
            <mat-list-item>ID:</mat-list-item>
            <mat-list-item>Price:</mat-list-item>
          </mat-list>
          <mat-list>
            <mat-list-item>{{card.id}}</mat-list-item>
            <mat-list-item>${{card.price.toFixed(2)}}</mat-list-item>
          </mat-list>
        </div>
      </mat-card-content>
    </mat-card>
  </a>
</div>
