mat-card {
    width: 15%;
    margin: 1%;
}

img.card-img {
    max-width: 100%;
}

div.outer-div {
    display: flex;
    flex-direction: row;
}

div.details-div {
    display: flex;
    flex-direction: row;
}

span.header {
    font-size: large;
}