<div class="outerDiv">
  <h1>Register Account</h1>
  <form>
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput type="text">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput type="text">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="text" placeholder="example@email.com">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password">
    </mat-form-field>
    <button mat-flat-button type="submit">Register</button>
  </form>

  <span class="registerText">Have an account? | <a routerLink="/login">Login</a></span>
</div>
